EventsProvider/obj/Debug/EventsProvider.csproj.FileListAbsolute.txt
DeviceModemGSM/obj/Debug/DeviceModemGSM.csproj.FileListAbsolute.txt
BusinessLogic/obj/Debug/BusinessLogic.csproj.FileListAbsolute.txt
SituationalCentreApp/bin/Debug/log/System.log